.btn-toolbar
  margin-bottom: 5px

.btn-primary
  +buttons($white,$primary)

.btn-transparent
  +button-transparent($white,$primary)


.btn-blur
  +buttons($white,$primary-blur)
  border: 0px

#btn-play
  color: $white
  text-decoration: none
  font-size: 54px
  right: 7px
  +rotate(90deg)
  +hide-mobile
  &:hover
    color: $primary


#btn-nav-toggle
  display: none
  width: 70px
  &:focus
    text-decoration: none

  +respond-to(0,$desktop-m)
    display: block
    color: $white
    text-decoration: none
    font-size: 40px
    margin-left: 15px

.btn-block
  width: 100%
  display: block


.btn-default
  +buttons($dark,$white)
  border: 1px solid #ADADAD
  color: $dark
  border-radius: 3px


.btn-cv
  padding: 50px
  display: block
  border: 1px dashed $dark
  color: $dark
  text-align: center
  margin-top: 25px
  text-decoration: none
  cursor: pointer
  border-radius: 2px