.form-control
  -webkit-font-smoothing: antialiased

.form-control:-moz-placeholder
  color: $form-color

.form-control::-moz-placeholder
  color: $form-color

.form-control:-ms-input-placeholder
  color: $form-color

.form-control::-webkit-input-placeholder
  color: $form-color

.placeholder
  color: $gray-light

.form-group
  margin-bottom: 10px

.form-control
  border: 1px solid $grey
  border-radius: 2px
  font-weight: 400
  font-size: 13px
  -webkit-font-smoothing: antialiased
  +no-shadow

  display: block
  width: 100%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  color: #555555
  background-color: #F0F0F0
  background-image: none
  border: 1px solid #F0F0F0
  border-radius: 1px

  -webkit-transition: background-color ease-in-out .30, -webkit-box-shadow ease-in-out .30
  -o-transition: background-color ease-in-out .30, box-shadow ease-in-out .30
  transition: background-color ease-in-out .30, box-shadow ease-in-out .30


.form-control:focus
  outline: 0
  border-color: #EBEBEB
  background-color: #EBEBEB
  -webkit-box-shadow: none
  box-shadow: none
  

input[type="file"]
  line-height: 1

label
  font-weight: 200

.disabled-input
  background-color: #eee

.blocked
  display: block !important
  width: 95% !important

input,textarea,select
  -webkit-appearance: none