$white: #fff
$black: #484040
$dark: #333
$primary: #46aea7
$green: #2dcb73
$default: #dde1e7
$danger: #ff604f

$gray-light: #333
$dark-grey: #333
$light-grey: #333
$grey: #dbdbdb
$form-color: #919191


$primary-blur: rgba(106,220,212,0.6)