.login-container
  .row
    .col-md-5
      a href="/"
        =image_tag('logo.png')
      form#login.login-form name="login"

        .form-group
          input.form-control(
            name="email"
            type="text" 
            ng-model="credentials.email"
            required="true"
            ng-class="{error: form.email.$error.required && form.$submitted}"
            ng-enter="signin()"
            placeholder="Email")

        .form-group
          input.form-control(
            name="password"
            type="text" 
            ng-model="credentials.password"
            required="true"
            ng-class="{error: form.password.$error.required && form.$submitted}"
            ng-enter="signin()"
            placeholder="Password")

        .form-group
          a.btn.btn-transparent.btn-block.text-left ng-click="signin()" ng-class="{disabled: disabledSubmit}" Log In
        
