#footer
  //background-color: $primary
  .footer-links-row
    border-top: 2px solid whitesmoke
    padding: 30px 0px 25px 0px
  ul.footer-links
    margin: 0px
    padding: 0px
    list-style: none
    li
      display: inline-block
      margin-right: 10px
      a
        +font-size(1.4)
        color: $black
        padding: 20px
        &:hover
          color: $primary

  .social-links 
    float: right
  .copyright-content
    padding: 30px 0px
  .footer-break
    display: none

+respond-to(0,$desktop-m)
  #footer
    .copyright-content
      text-align: center
    .align-right
      text-align: center
    .footer-links
      margin-bottom: 40px

+respond-to(0,$phone-m)
  #footer
    ul
      padding: 0px

// #footer
//   ul
//     margin: 0px
//     padding: 0px 50px
//     list-style: none
//     li
//       font-weight: 200
//   .footer-links-row
//     padding: 50px 0px
//     .footer-links
//       li
//         +font-size(1.6)
//         &:first-child
//           font-weight: 500
//   .copyright-content
//     padding: 30px 0px
//   .footer-break
//     display: none

// +respond-to(0,$desktop-m)
//   #footer
//     .copyright-content
//       text-align: center
//     .align-right
//       text-align: center
//     .footer-links
//       margin-bottom: 40px

// +respond-to(0,$phone-m)
//   #footer
//     ul
//       padding: 0px