#acquired
  top: -1px
  padding: 100px 0px
  background: image-url('acquired.jpg') no-repeat center center 
  position: relative
  height: 100%
  width: 100%  
  +bg-cover
  
  h2,p
    color: $white

  p
    font-size: 18px

  img
    margin: 40px 0px
    width: 100%

  .quote-content
    position: relative
    padding: $home-paddings
    top: 440px
    p
      font-style: italic
      font-weight: 200
      font-size: 16px

  .aquired-entry
    padding: $home-paddings
    margin-top: 90px

+respond-to(0,$desktop-s)
  #acquired
    .align-right
      text-align: center
    img
      width: 90%

    .aquired-entry , .quote-content
      padding: 0px
    
+respond-to(0,$tablet-s)
  #acquired
    padding: 40px 0px 40px 0px
    height: auto
    .quote-content
      display: none
    .aquired-entry
      margin-top: 0px