#blog-wrapper

  p
    font-size: 1.3em
    margin: 0px

  a 
    color: $blog-primary
    text-decoration: none
    font-family: 'effra'
    &:hover
      text-decoration: none
      color: $blue

  h1,h2,h3,h4,h5
    font-family: "kepler-std", sans-serif

  .blog-header
    text-align: center
    margin: 50px 0px 30px 0px
    img
      width: 250px
    h5
      font-family: 'effra'

  .blog-entries
    
    margin: 50px 0px 30px 0px

    .title
      margin: 5px 0px 15px 0px
      color: $blue

    .author,.date
      margin: 0px 5px

    .blog-excerpt
      margin-top: 15px
      text-align: left

  .blog-entry
    border-top: 1px solid $grey 
    padding: 30px 0px


  .blog-footer
    margin-bottom: 40px
    text-align: center
    a.btn-home
      font-size: 30px
      padding: 20px 23px
      background-color: #E5E5E5
      border-radius: 50%
      color: #333

  .blog-info
    font-size: 1.3em
    text-align: center

  .btn-default
    color: $dark

  .footer-links
    margin-top: 50px
    text-align: left
    list-style: none
    border-top: 1px solid $grey
    ul
      padding: 0px
      margin: 20px 0px 1px 0px
    li
      display: inline-block
      margin-right: 15px
      a
        text-style: italic




  .btn-blue
    padding: 10px 20px
    border: 1px solid #D9D9D9
    border-radius: 3px
    color: #7E7E7E
    +btn-transition
    &:hover
      background-color: $blue
      color: $white
      border-color: $blue



.blog-topbar
  background-color: #FBFBFB
  border-bottom: 1px solid #F0F0F0
  width: 100%
  padding: 12px 0px 10px 0px
  ul
    list-style: none
    margin: 7px 0px 0px 0px
    padding: 0px
    li
      margin-right: 30px
      display: inline-block

#blogv2
  margin: 30px 0px

  .blog-entries
    margin: 20px 0px 50px 0px

  .title
    margin: 5px 0px


  .author,.date
    margin: 0px 5px

  .blog-excerpt
    margin: 15px 0px
    text-align: justify

  .blog-entry
    border-top: 1px solid $grey 
    border-bottom: 1px solid $grey 
    padding: 20px 0px
    &.no-border
      border: 0px