#careers-header
  background: image-url('contact_banner.jpg') no-repeat center center 
  +header-defaults

  #careers-text
    +header-text-defaults

#careers-intro
  .map-icon-holder
    margin-top: 30px
  p
    text-align: justify

#careers-content
  margin-bottom: 50px
  img
    width: 80%
    margin-top: 50px

  .job-title
    text-align: center

  .job-position
    text-align: justify
    margin-bottom: 80px
    padding: $home-paddings
    h4
      margin-bottom: 15px

  .job-photo
    margin: 30px 0px
    text-align: center
    img
      width: 150px


#career-dash
  background-image: linear-gradient(to bottom, #d6d6d6 50%, rgba(255, 255, 255, 0) 0%)
  background-position: left
  background-size: 1px 10px
  background-repeat: repeat-y
  position: absolute
  top: 450px
  height: 800px
  width: 1px
  left: 50%


.career-btn-row
  margin: 30px 0px
  text-align: center

+respond-to(0,$desktop-m)
  #careers-header
    height: $header-height
  #career-dash
    display: none

+respond-to(0,$desktop-s)
  #careers-content .job-position
    padding: 0px


