#careers-header
  height: 100%
  width: 100%
  background: image-url('contact_banner.jpg') no-repeat center center 
  background-position: inherit
  border-bottom: 3px solid #46aea7
  height: 110px

  #careers-text
    text-align: center
    color: $white
    padding: 0px 30px
    h2
      font-size: 50px
    h4
      font-size: 26px

    .btn
      margin-top: 10px
      padding: 10px 40px
      font-size: 16px


#careers-intro
  .map-icon-holder
    margin-top: 30px
  p
    text-align: justify

#careers-content
  margin-bottom: 50px
  img
    width: 80%
    margin-top: 50px

  .job-title
    text-align: center

  .job-position
    text-align: justify
    margin-bottom: 80px
    padding: $home-paddings
    h4
      margin-bottom: 15px

  .job-photo
    margin: 30px 0px
    text-align: center
    img
      width: 150px


#career-dash
  background-image: linear-gradient(to bottom, #d6d6d6 50%, rgba(255, 255, 255, 0) 0%)
  background-position: left
  background-size: 1px 10px
  background-repeat: repeat-y
  position: absolute
  top: 450px
  height: 800px
  width: 1px
  left: 50%
  +hide-desktop-s

.career-btn-row
  margin: 30px 0px
  text-align: center

+respond-to(0,$desktop-m)
  #careers-header
    height: $header-height


+respond-to(0,$desktop-s)
  #careers-content .job-position
    padding: 0px

