#header
  width: 100%
  line-height: 80px
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  z-index: 9999


  &.sticky
    background: rgba(255, 255, 255, 0.95)

  .logo
    color: $white
    padding-left: 50px
    text-decoration: none
    font-size: 22px
    position: relative
    top: 25px
    img
      width: 200px

  ul#navigation
    float: right
    margin-right: 50px
    
    margin-top: 0px
    margin-bottom: 0px
    list-style: none
    li
      padding: 15px 0px
      display: inline-block
      a
        color: $white
        text-decoration: none
        padding: 45px 20px
        font-size: 16px
        +blur(0.2s)
        &:hover
          background-color: rgba(255,255,255,.05)
        &.no-hover
          background-color: transparent
        &.active
          background-color: rgba(255,255,255,.05)

+respond-to(0,$desktop-m)
  #header .logo
    padding-left: 50px
  #header ul#navigation
    margin-right: 50px

  .desktop-nav
    display: none
