#page-wrapper
  position: relative
  height: 100%
  width: 100%
  &.pushed
    margin-left: 300px
    overflow-x: hidden
    #btn-play
      display: none
    #dash
      display: none



#dash
  background-image: linear-gradient(to bottom, #d6d6d6 50%, rgba(255, 255, 255, 0) 0%)
  background-position: left
  background-size: 1px 10px
  background-repeat: repeat-y
  position: absolute
  top: 620px
  height: 2025px
  min-height: 100%
  width: 1px
  left: 50%
  +hide-desktop-s








