#page-wrapper
  position: relative
  height: 100%
  width: 100%
  -webkit-transition-duration: .1s
  -o-transition-duration: .1s
  -ms-transform-duration: .1s
  transition-duration: .1s
  &.pushed
    margin-left: 250px
    overflow-x: hidden
    #btn-play
      display: none
    #dash
      display: none
    #sidebar
      left: 0px



#dash
  background-image: linear-gradient(to bottom, #d6d6d6 50%, rgba(255, 255, 255, 0) 0%)
  background-position: left
  background-size: 1px 10px
  background-repeat: repeat-y
  position: absolute
  // top: 700px
  height: 2025px
  min-height: 100%
  width: 1px
  left: 50%
  +hide-desktop-s








