#landing
  height: 100%
  width: 100%
  background: image-url('header.jpg') no-repeat center center 
  background-position-y: 0px
  position: relative
  +bg-cover

  #landing-text
    text-align: center
    color: $white
    padding: 0px 30px
    h1
      +font-size(9)
    h4
      +font-size(2.6)
      letter-spacing: 1px
    .btn
      margin-top: 10px
      padding: 10px 40px
      +font-size(1.6)

  #pull-btn-section
    margin-top: 200px

  +respond-to(0,$tablet-s)
    #landing-text
      h1
        +font-size(5.5)
      h4
        +font-size(1.8)