#news
  background-color: $primary
  color: $white
  padding: 80px 0px 90px 0px
  text-align: center
  h1
    +font-size(5.4)
  .news-list
    margin: 0px
    padding: 0px
    list-style: none
    a
      +font-size(2)
      color: $white
      &:hover
        text-decoration: underline

  .date
    color: $date