=buttons($color, $bg-color)
  display: inline-block
  padding: 0 30px
  color: $color
  text-align: center
  font-size: 11px
  text-decoration: none
  white-space: nowrap
  background-color: $bg-color
  border-radius: $global-radius
  border: 1px solid $bg-color
  box-sizing: border-box

  &:hover, &:focus, &:active
    color: $white
    background-color: mix(black, $bg-color, 15%)
    border-color: mix(black, $bg-color, 15%)
    cursor: hand

  &.no-hover
    &:hover, &:focus, &:active
      color: $color
      background-color: $bg-color

=button-static
  font-size: 16px
  padding: 15px
  +border-radius(4px)
  &:hover
    cursor: pointer

=button-square
  font-size: 16px
  padding: 15px
  +border-radius(0px)
  &:hover
    cursor: pointer
