$black: #252627
$grey: #979898
$light-grey: #313437
$dark-grey: #eee
$dark: #2c2e2f
$page-header-bg: #f8f8f8
$light: #eee
$white: #fff

$gray-light: #aaa
$grey-mid: #e8ecf3
$green: #2dcb73
$default: #dde1e7
$danger: #ff604f
$primary: #17c3e5


$form-color: #919191
