<!DOCTYPE html>
<html>
<head>
  <title>Sourcepad</title>
  <%= stylesheet_link_tag    'site', media: 'all'%>
  <%= javascript_include_tag 'site' %>

  <%= csrf_meta_tags %>
</head>
<body>

<style>
body { font-family: "effra", sans-serif;}
</style>

<%= yield %>


  <script src="//use.typekit.net/sia2sla.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</body>
</html>
